.additional-info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 7vh;
    text-align: center;
}

.city-field, .photo-url-field, .description-field, .preferred-activity-field {
    display: flex;
    margin-bottom: 10px;
}

.city-label, .photo-url-label, .description-label, .preferred-activity-label {
    margin-right: 10px;
    min-width: 7vw;
    max-width: 7vw;
    display: block;
}

.additional-info-submit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgreen;
    color: #2a2a2a;
    text-decoration: none;
    border-radius: 4px;
    border: 0 solid black;
    transition: transform .5s;
}

.city-input, .photo-url-input, .description-input,.preferred-activity-input {
    min-width: 12.5vw;
    max-width: 12.5vw;
}