@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: 12vh;
    }

    .navbar .logo {
        text-align: center;
        width: 20vw;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .menu-icon {
        display: block;
        text-align: center;
    }

    .mobile-menu-space {
        overflow: hidden;
        background: none;
        position: absolute;
        left: 0px;
        top: calc(12vh + 40px);
        width: 100vw;
        height: 30vh;
    }

    .mobile-menu-open, .mobile-menu-closed {
        position: absolute;
        background-color: #2a2a2a;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .mobile-menu-open {
        top: 0vh;
        transition: top 1s;
    }

    .mobile-menu-closed {
        top: -20vh;
        transition: top 1s;
    }

    .nav-links-mobile a {
        justify-content: center;
    }

    .nav-btn-mobile {
        margin-right: 0px;
        text-decoration: none;
        color: lightgreen;
        height: 21.6px;
        display: flex;
        align-items: center;
    }

    .media-mobile a {
        margin-right: 5px;
        margin-left: 5px;
    }

    .media-mobile {
        margin-bottom: 5px;
    }

    .navbar .login-btn {
        margin-right: 40px;
        text-decoration: none;
        color: lightgreen;
        height: 21.6px;
        display: flex;
        align-items: center;
        transition: transform .3s;
    }

    .navbar .login-btn {
        background: none;
        border: none;
        padding: 0px;
        position: absolute;
        left: 80vw;
        top: calc(6vh + 6px);
        font-size: 20px;
    }
}