.card {
    display: flex;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    padding: 20px;
    flex-direction: column;
    background-color: rgba(42, 42, 42, 0.93);
    color: lightgreen;
    height: 75vh;
    width: 27vw;
    overflow: hidden;
}

.card .top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:27vh;
    margin-bottom: 3vh;
}

.card .top-section .title-section {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.middle-section {
    display: flex;
    flex-direction: row;
    height: 15vh;
    margin-bottom: 0px;
}

.location p, .datatime p{
    margin-bottom: 0;
}
.location{
    margin-right: 4vw;
}

.description-section {
    height: 15vh;
    justify-content: space-around;
}
.description-section p {
    margin-bottom: 0;
}
.description-section h3 {
margin-top: 0;
}

.map-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(15vh);
}

.map-button button {
    background-color: darkgrey;
    height: 30px;
    width: 140px;
    border: none;
    border-radius: 5px;
    transition: background-color .5s;
}

.map-button button:hover {
    background-color: lightgreen;
    transition: background-color .5s;
}

.card .google-maps {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo {
    width: 27vh;
    height: 27vh;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
}

.card p {
    color: white;
}

.card-changeable-space {
    height: calc(75vh - 220px);
    overflow: hidden;
}

.map-side {
    position: relative;
    bottom: calc(33vh);
    transition: bottom 1s;
}

.no-map-side {
    position: relative;
    bottom: 0px;
    transition: bottom 1s;
}


