.card {
    display: flex;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    padding: 20px;
    flex-direction: column;
    background-color: rgba(42, 42, 42, 0.93);
    color: lightgreen;
    height: 75vh;
    width: 50vh;
}

.card .top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card .top-section .title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .middle-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card .google-maps{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
}

.card p{
    color: white;
}



