.comments {
    width: 100%;
    border: 2px solid green;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #90EE90;
}

.commentsList {
    list-style: none;
    padding: 10px;

}