.comments {
    border: 1px solid #8d8d8d;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    background-color: rgba(175, 175, 175, 0.91);
}

.comments-list {
    list-style: none;
    padding: 10px;

}
