
.navbar {
    background-color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: lightgreen;
    box-shadow: 0 2px 20px rgba(9, 8, 8, 0.71);
    height: 5vh;
}

.navbar .logo {
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 30px;
}

.navbar .logo .logo-btn {
    text-decoration: none;
    color: lightgreen;
}

.navbar .logo .logo-btn:hover {
    color: greenyellow;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar .nav-btn, .navbar .login-btn {
    margin-right: 40px;
    text-decoration: none;
    color: lightgreen;
    height: 21.6px;
    display: flex;
    align-items: center;
    transition: transform .3s;
}

.navbar .login-btn {
    background: none;
    border: none;
    font-size: 16px;
    padding: 0px;
}

.nav-btn li {
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    /*background: red;*/
}

.navbar .nav-btn:hover, .navbar .login-btn:hover {
    color: greenyellow;
    transform: scale(1.2);
    transition: transform .3s;
}

.navbar .nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar .menu-icon {
    display: none;
    cursor: pointer;
}

.navbar .add-activity-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgreen;
    color: #2a2a2a;
    text-decoration: none;
    border-radius: 6px;
    transition: transform .4s ease;
}

.navbar .add-activity-btn:hover {
    background-color: greenyellow;
    transform: scale(1.1);
    transition: transform .4s ease;
}

.navbar .media .media-btn {
    margin-right: 20px;
    transition: transform .2s;
}

.navbar .media .media-btn:hover {
    transform: scale(1.2);
    animation-duration: 0.2s;
    transition: transform .2s;
}

@media screen and (min-width: 768px) {
    .media-undisplayed {
        left: 120vw;
    }

    .media-displayed {
        left: 0vw;
        transition: left 2s;
    }

    .media-container-open, .media-container-closed {
        display: flex;
        align-items: center;
        background-color: black;
        border: 4px solid #90ee90;
        padding: 10px;
        width: 14vw;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: absolute;
    }

    .media-container-open {
        left: 86vw;
        transition: left 1s;
    }

    .media-container-closed {
        left: 97vw;
        transition: left 1s;
    }

    .open-close-media-btn {
        display: flex;
        align-items: center;
        width: 2vw;
        font-size: 19px;
        margin-right: 10px;
        background: none;
        border: none;
        color: #90ee90;
    }

    .media {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 18vh;
    }

    .mobile-menu-space {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: 12vh;
    }

    .navbar .logo {
        margin-bottom: 20px;
        margin-left: 0;
    }

    .navbar .nav-links {
        flex-direction: column;
        margin-top: 20px;
        display: none;
    }

    .navbar .nav-links .nav-btn {
        margin-top: 15px;
        margin-right: 0;
    }

    .navbar .nav-links-show {
        display: flex;
        flex-direction: column;
        animation: slide-in 0.5s ease-in-out forwards;
    }

    .navbar .menu-icon {
        display: block;
    }

    .navbar .media {
        display: none;
    }

    .navbar .media.show {
        margin-top: 20px;
        margin-right: 0;
        display: flex;
        animation: slide-in 0.5s ease-in-out forwards;
    }

    .open-close-media-btn {
        display: none;
    }

    .navbar .media .media-btn {
        margin-top: 8px;
        margin-right: 7px;
        margin-left: 7px;
        transition: transform 0.3s ease;
    }

    .media .media-btn {
        transition: transform .5s;
    }

    .media .media-btn:hover {
        transform: scale(1.1);
        transition: transform .2s;
    }

    .navbar .login-btn {
        position: absolute;
        left: 85vw;
        top: 8vw;
        font-size: 20px;
    }
}


